
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-slate-950 text-slate-100 min-h-screen font-sans;
        background-image:
            radial-gradient(at 0% 0%, rgba(79, 172, 254, 0.15) 0, transparent 50%),
            radial-gradient(at 100% 100%, rgba(0, 242, 254, 0.15) 0, transparent 50%);
    }
}

@layer components {
    .glass {
        @apply bg-brand-card backdrop-blur-md border border-white/10 rounded-2xl shadow-xl;
    }
}